extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="color: #000000") Python
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
            .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #000000") Offered by Coursera 
            .panel-body

          .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #000000") About
            .panel-body
              p Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. It was originally released in 1991. Designed to be easy as well as fun, the name "Python" is a nod to the British comedy group Monty Python.
          .panel.panel-primary
            .panel-heading
             h5.panel-title(style="color: #000000") About the Course-offerer
            .panel-body
              p Coursera Inc. is a U.S.-based massive open online course provider founded in 2012 by Stanford University computer science professors Andrew Ng and Daphne Koller. Coursera works with universities and other organizations to offer online courses, certifications, and degrees in a variety of subjects.

              a.button.btn.btn-info(type='button', href='https://www.coursera.org/' ) Start Course
            
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading

            .panel-body
              img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png', width='400', height='400',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Queries
              a.button.btn.btn-info(type='button', href='/course/query/new' ) Add Query
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                  span.reviewAuthor
                    strong Sherlock Holmes 
                  small.reviewTimestamp 
                    strong 16 July 2013
                  .col-xs-12
                    p 
                      em  I will never ever rate this lower than 5 stars. BEAUTIFUL.
              .row
                .review
                  .well.well-sm.review-header
                      
                  span.reviewAuthor
                    strong Mr Res
                  small.reviewTimestamp 
                    strong 16 July 2020
                  .col-xs-12
                    p 
                      em  What a great song. Love the lyrics and beats