extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

    .col-lg-12.col-sm-4
      p.lead
        | StudyStream : Best place to learn!
    
  .row
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Top Course #1
          .card-body
            h5.card-title 
              a(href='/course/Python') Python
            h6.card-subtitle.text-muted  Offered by Coursera
          img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png', width='200', height='200',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. It was originally released in 1991. Designed to be easy as well as fun, the name "Python" is a nod to the British comedy group Monty Python.
          ul.list-group.list-group-flush
            li.list-group-item Type: Coding Language
            li.list-group-item Average Time - 6 hr
            li.list-group-item Useful in
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Web
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Problem solving
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Applications
              | &nbsp;   
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Top Course #2
          .card-body
            h5.card-title 
              a(href='/course/ml') Machine Learning
            h6.card-subtitle.text-muted  Offered by Coursera
          img(src='https://upload.wikimedia.org/wikipedia/commons/0/02/Neural_network_with_dark_background.png', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.
          ul.list-group.list-group-flush
            li.list-group-item Type: Data Science
            li.list-group-item Average Time - 12hr
            li.list-group-item Useful in
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Pridictions
              | &nbsp; 
              span.badge.rounded-pill.bg-secondary Data Handling
              | &nbsp;    
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Top Course #3
          .card-body
            h5.card-title 
              a(href='/course/net') Networks 
            h6.card-subtitle.text-muted  offered by IIT Madras
          img.center(src='https://media.geeksforgeeks.org/wp-content/uploads/20230406152358/CN-(1).jpg', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Networking is the process of making connections and building relationships. These connections can provide you with advice and contacts, which can help you make informed career decisions.
          ul.list-group.list-group-flush
            li.list-group-item Type: Networks
            li.list-group-item Average Time - 3hr
            li.list-group-item Useful in
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Networking
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Building
              | &nbsp;      
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Top Course #4
          .card-body
            h5.card-title 
              a(href='/course/java') Java
            h6.card-subtitle.text-muted  Offered by Coursera 
          img.center(src='https://assets-global.website-files.com/6377ac1a39ff1e65214224e5/64d26ed75e39c4c591e01c3d_64c96a772785e6db2d21f850_java-logo-transparent-free-png.png', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Java is a most popular, object-oriented, widely used programming language and platform that is utilized for Android development, web development, artificial intelligence, cloud applications, and much more. So, mastering this gives you great opportunities in bigger organizations.
          ul.list-group.list-group-flush
            li.list-group-item Type: Programming Language
            li.list-group-item Average Time - 8hr
            li.list-group-item Useful in
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Application development
              | &nbsp;    
              span.badge.rounded-pill.bg-secondary GUI
              | &nbsp;   
      