extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="color: #000000") Networks
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
            .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #000000") Offered by Coursera 
            .panel-body

          .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #000000") About
            .panel-body
              p Networking is the process of making connections and building relationships. These connections can provide you with advice and contacts, which can help you make informed career decisions.
          .panel.panel-primary
            .panel-heading
             h5.panel-title(style="color: #000000") About the Course-offerer
            .panel-body
              p Coursera Inc. is a U.S.-based massive open online course provider founded in 2012 by Stanford University computer science professors Andrew Ng and Daphne Koller. Coursera works with universities and other organizations to offer online courses, certifications, and degrees in a variety of subjects.

              a.button.btn.btn-info(type='button', href='https://www.coursera.org/' ) Start Course
            
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading

            .panel-body
              img(src='https://media.geeksforgeeks.org/wp-content/uploads/20230406152358/CN-(1).jpg', width='400', height='400',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              h2.panel-title Queries
              a.button.btn.btn-info(type='button', href='/course/query/new' ) Add Query
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                  span.reviewAuthor
                    strong Sherlock Holmes 
                  small.reviewTimestamp 
                    strong 16 July 2013
                  .col-xs-12
                    p 
                      em  I will never ever rate this lower than 5 stars. BEAUTIFUL.
              .row
                .review
                  .well.well-sm.review-header
                      
                  span.reviewAuthor
                    strong Mr Res
                  small.reviewTimestamp 
                    strong 16 July 2020
                  .col-xs-12
                    p 
                      em  What a great song. Love the lyrics and beats