extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

  .row
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Python

            .card-body
              h4.card-title 
                a(href='/course/Python') Python
              p.card-text
                | Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. It was originally released in 1991. Designed to be easy as well as fun, the name "Python" is a nod to the British comedy group Monty Python.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header ml
            .card-body
              h4.card-title 
                a(href='/course/ml') ML
              p.card-text
                | Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header java
            .card-body
              h4.card-title 
                a(href='/course/java') Java
              p.card-text
                | A re-recorded version of "Wildest Dreams", titled "Wildest Dreams (Taylor's Version)", was released by Swift on September 17, 2021, via Republic Records. 